.vscode
node_modules/
*.log
yarn.lock
package-lock.json
client/node_modules/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
paperworklabs-firebase-adminsdk-7dyaq-0f6f3b29ff.json