body {
	font-family: Verdana, sans-serif
}

#root {
  	text-align: left;
  	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
}

hr {
	border: none;
	border-bottom: 1px solid lightgrey;
}


input {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-left: 20px;
	-webkit-appearance: none;
}

select {
	padding: 5px;
	margin: 5px;
	width: 100%;
    text-overflow: ellipsis;
}

.primary {
	display: flex;
	padding: 10px;
	background-color: dodgerblue;
	color: white;
	font-size: 1rem;
	margin: 0 auto;
	margin-top: 50px;
	-webkit-appearance: none;
}

.box{
	margin-top: 20px;
}