body {
  	text-align: left;
  	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
	font-family: Verdana, sans-serif
}

hr {
	border: none;
	border-bottom: 1px solid lightgrey;
}


input {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-left: 20px;
}

select {
	padding: 5px;
	margin: 5px;
}



.primary {
	padding: 10px;
	margin: 5px;
	background-color: dodgerblue;
	color: white;
	font-size: 1rem;
	border: 0;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
}